.shop_load {
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}
.shop_box {
  margin: 0 auto;
}
.shop_load li {
  float: left;
  padding: 0 30px 20px;
}
.shop_load li p {
  color: #676767;
  font-size: 12px;
  display: block;
  height: 12px;
  line-height: 12px;
  overflow: hidden;
  text-align: center;
  padding: 5px 0;
}
.shop_load .price {
  padding: 5px 0;
  color: #be0808;
  font-size: 18px;
  letter-spacing: -1px;
  white-space: nowrap;
  text-align: center;
}
/*.shop_load .btn a {
	
	display: block;
	height: 31px;
	width: 240px;
}*/
