#top,#zhuTi,#bottom{
    width: 100%;
    height: 100%;
}
.top-con,.main-con,.bottom-con{
    width: 1200px;
    margin: 0 auto;
}
.top-con{
    /* background: pink; */
    height: 70px;
    border-bottom: 1px solid #7a7f89;
}
.top-con .logo{
    display: inline-block;
    margin:15px 0 0;
    width: 187px;
    height: 50px;
    background: url(../images/logo_new.jpg) left top no-repeat;
}
.top-con p{
    float: right;
    margin: 38px 5px 0 0;
    width: 24px;
    height: 12px;
}
.top-con p a{
    
    display: inline-block;

}
.top-con p a:hover{
    text-decoration: underline;


}
.main-con{
    /* background: yellow; */
    height: 549px;
}
/* .main-con{
    width: 698px;
} */
.main-con .advert{
    float: left;
    width: 465px;
    height: 352px;
    margin: 91px 0 0 151px;
}
.main-con .login{
    float: right;
    width: 420px;
    margin: 48px 96px 0 0;
}
.login .headline{
    border-bottom: 2px solid #b42025;
}
.login .headline h3{
    font-weight: normal;
    color: #979797;
    font-size: 22px;
    margin-bottom:5px; 
}
.login .headline span{
    float: right;
    color: #979797;
    font-size: 12px;
}
.login .headline span a{
    display: inline-block;
    color:#b42025;
    margin: 7px 0 0 -4px;
}
.login .headline span a:hover{
    text-decoration: underline;
}
.blank{
    height: 40px;
    width: 420px;
}
.form-box-reg input{
    padding-left:10px; 
    height: 43px;
    border:1px solid #cbcbcb;
}
.form-box-reg .yanzhengma1{
    height:45px;
}
.form-box-reg .yanzhengma.tips{
    height: 20px;
}
.form-box-reg .yanzhengma1 input{
    float: left;
    width: 260px;
}
.form-box-reg .yanzhengma1 img{
    float: right;
    width: 138px;
    height: 43px;
    border:1px solid #cbcbcb;
}
.form-box-reg .phone1{
    height:45px;
}
.phone1 a{
    color: #b42025;
}
.phone1 a:hover{
    text-decoration: underline;
}
.form-box-reg .phone1 input{
    float: left;
    width: 260px;
}
.form-box-reg .phone1 a{
    float: right;
    display: inline-block;
    width: 138px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    background: #f5f5f5;
    border:1px solid #cbcbcb;
}
.form-box-reg .phone1.tips{
    display: block;
    height: 20px;
}
.form-box-reg .phone-yanzhengma input{
    width: 410px;
}
.form-box-reg .phone-yanzhengma.tips{
    display: block;
    height: 20px;
}
.form-box-reg .loginMima input{
    width: 410px;
}
.form-box-reg .loginMima.tips{
    display: block;
    height: 20px;
}
.form-box-reg .loginMimaAgain input{
    width: 410px;
}
.form-box-reg .loginMimaAgain.tips{
    display: block;
    height: 20px;
}
.regbt{
    margin-top: 10px;

}
.regbt .conform{
    height: 14px;
    color: #b59db5;
    
}
.regbt .conform label{
    display: inline-block;
   
}
 .regbt .conform label .default{
    display: inline-block;
    width: 151px;
    height: 12px;
    color: #b42025;
}
.conform label>.default:hover{
    text-decoration: underline;
} 
.regbt>a{
    margin-top: 20px;
    display: block;
}
.regbt>span input{
    width: 16px;
    height: 16px;
   float: left;
   margin-top: 3px;

}
.regbt>.btn1{
    color: #fff;
    display: block;
    width: 413px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #9a9a9a;

}
.regbt>.btn1:hover{
    text-decoration: underline;
}






.bottom-con{
    /* background: green; */
    height: 129px;
    text-align: center;
}
.bottom-con p{
    padding-top: 34px;
    color: #999999;
    font-size: 12px;
    margin-bottom: 18px;
}

.bottom-con .subFooter a{
    display: inline-block;
    height: 45px;
    background: url(../images/login_spritesbg.png) no-repeat;
}
.bottom-con .subFooter a:nth-of-type(1){
    position: relative;
    margin-right: 21px;
    left: 0;
    top:5px;
    width: 112px;
    background-position: 0 -401px;
}
.bottom-con .subFooter a:nth-of-type(3){
    position: relative;
    left: 0;
    margin-right: 21px;
    top:3px;
    width: 96px;
    background-position: 0 -494px;
}
.bottom-con .subFooter a:nth-of-type(4){
    position: relative;
    left: 0;
    top:3px;
    width: 101px;
    background-position: -97px -494px;
}
.bottom-con .subFooter a:nth-of-type(2){
    /* display: inline-block; */
    width: 156px;
    margin-right: 21px;
    height: 45px;
    background-position: 0 -448px;
}